<div class="content">
    <h1>FOLLOW US</h1>
    <div class="icons">
        <img src="../../assets/images/facebook.png" alt="">
        <img src="../../assets/images/facebook.png" alt="">
        <img src="../../assets/images/facebook.png" alt="">
        <img src="../../assets/images/facebook.png" alt="">
        <img src="../../assets/images/facebook.png" alt="">
        <img src="../../assets/images/facebook.png" alt="">
    </div>
    <p>DOWNLOAD APP</p>
    <div class="download">
        <img src="../../assets/images/google play.png" alt="">
        <img src="../../assets/images/google play.png" alt="">
    </div>
</div>