<div class="content">
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="../../assets/images/papers.png" alt="nft">
            </div>
            <div class="text">
                <h1>NFT Aggregator</h1>
                <br>
                <p>Exclusive feature making NFTs from anywhere accessible on our platform.  </p>
            </div>
            <div class="card-overlay">
                <h1>READ MORE</h1>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/images/papers.png" alt="papers">
            </div>
            <div class="text">
                <h1>Insurance</h1>
                <br>
                <p>First-ever Insurance program for NFTs. Pay 5% of the NFT value upfront, and if you aren't satisfied with the NFT, you can refund.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="../../assets/images/computers.png" alt="computers">
            </div>
            <div class="text">
                <h1>Multi-Chain + Cross-Chain</h1>
                <br>
                <p>Switch between chains and networks, including Ethereum and Binance Smart Chain, at the push of a button. </p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/images/charitz.png" alt="charity">
            </div>
            <div class="text">
                <h1>Charity</h1>
                <br>
                <p>Charity program for people in need. 10% of our revenue goes to our program, and you will choose every month where the money.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="../../assets/images/bubbles.png" alt="bubbles">
            </div>
            <div class="text">
                <h1>Social Features</h1>
                <br>
                <p>Exclusive feature making NFTs from anywhere accessible on our platform. Read More...</p>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../../assets/images/rocket.png" alt="rocket">
            </div>
            <div class="text">
                <h1>Gaming Specialization</h1>
                <br>
                <p>The gaming community is something we love, and our main focus is to bring you the wide variety products in this segment. </p>
            </div>
        </div>
    </div>
</div>