.content {
    font-family: Poppins;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    line-height: 150%;
    p {
        padding: 10px 0;
        font-family: Poppins;
        color: #ffffff;
        font-weight: 400;
        font-size: 18px;
    }
}
.right {
    display: flex;
    flex-direction: column;
    width: 59%;
    justify-content: space-around;
    .row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        .card{
        display: flex;
        justify-content: space-evenly;
        width: 48%;
        height: 185px;
        background: rgba(35, 35, 35, 0.5);
        border-radius: 10px;
        .leftcard{
            line-height: 150%;
            display: flex;
            width: 40%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h1{
                padding: 10px 0;
                font-weight: 700;
            }
            p {
                font-size: 16px;
            }
            
        }
        .rightcard{
            display: flex;
            width: 30%;
            justify-content: center;
            margin: auto 0;
            img{
                width: 105px;
            }
        }
        }
    }
}
.line {
    margin : 3% 0;
    width: 100%;
    border: 1px solid white;
}
@media only screen and (max-width: 1430px) {
    .line {
        display: none;
    }
	.content{
        flex-direction: column;
    }
    .left {
        width: 100% !important;
        flex-direction: row;
        justify-content: space-between;
        .text {
            width: 47%;
        }
    }
    .card {
        margin-bottom: 20px;
    }
    .row {
        width: 100% !important;
    }
    .right{
        width: 100%;
    }
}
@media only screen and (max-width:760px) {
    .left {
        flex-direction: column;
        margin-bottom: 10%;
    }
    .text {
        width: 100% !important;
    }
    .row {
        margin: 0 !important;
        flex-direction: column;
    }
    .right, .card{
        width: 100% !important;
    }
    p{
        text-align: justify;
    }
}