<div class="content">
    <div class="left">
        <p>We are happy to see new talented NFTs item designers, developers and creators at any time! Join in on our wild ride, design your own items, sell them in our market and start making more money. 
        </p>
        <br>
        <p>
            You can choose whether you want to create NFTs items or develop and work on improving new, amazing products. Check out our design guidelines to get more informations for creators.
        </p>
    </div>
    <div class="right">
        <div class="row">
            <div class="card">
                <div class="leftcard">
                    <h1>Create</h1>
                    <p>Design your own NFTs items</p>
                </div>
                <div class="rightcard">
                    <img src="../../assets/images/create.svg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="leftcard">
                    <h1>Develop</h1>
                    <p>Help us develop unique products</p>
                </div>
                <div class="rightcard">
                    <img src="../../assets/images/develop.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="leftcard">
                    <h1>Submit NFTs</h1>
                    <p>Submit items you designed</p>
                </div>
                <div class="rightcard">
                    <img src="../../assets/images/submit.svg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="leftcard">
                    <h1>Docs</h1>
                    <p>Check out our design guidelines</p>
                </div>
                <div class="rightcard">
                    <img src="../../assets/images/docs.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line"></div>