<div class="content">
    <div class="left">
        <div class="leftcontent">
            <div class="title">
                <h1>Receive Premium NFT by Separ</h1>
            </div>
            <div class="info">
                <div class="infocontent">
                    <div class="boxes">
                        <div class="item">
                            <h1>Item</h1>
                            <p>item desc</p>
                        </div>
                        <div class="item">
                            <h1>Item</h1>
                            <p>item desc</p>
                        </div>
                        <div class="item">
                            <h1>Item</h1>
                            <p>item desc</p>
                        </div>
                    </div>
                    <div class="text">
                        <p>As a little surprise for our 1 year birthday, IOI is bringing an unique collection of NFTs collectibles. IOI is bringing an unique collection of NFTs collectibles. NFTs collectibles..</p>
                    </div>
                    <div class="progress">
                        <div class="ownership">
                            <p>You own</p>
                        </div>
                        <div class="progressbar">
                            <div class="bar">
                                <div class="smallbar">
                                </div>
                            </div>
                            <p>654 IOI out of 1000</p>
                        </div>
                        <div class="button">
                            <p>Buy IOI</p>
                        </div>
                    </div>
                    <div class="infoOverlay">
                        <p>COMING SOON</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="../../assets/images/separbig.png" alt="">
    </div>
</div>