<div class="content">
    <div class="wrapper">
        <div class="card">
            <div class="card-content">
                <h1>IOI x Separ</h1>
                <p>As a little surprise for our 1 year birthday, Qorpo is bringing an unique collection of NFTs.</p>
                <div class="button">
                    <h1>Coming Soon</h1>
                </div>
            </div>
        </div>
        <div class="card card1">
            <div class="card-content">
                <h1>IOI x Separ</h1>
                <p>As a little surprise for our 1 year birthday, Qorpo is bringing an unique collection of NFTs.</p>
                <div class="button">
                    <h1>Coming Soon</h1>
                </div>
            </div>
        </div>
    </div>
</div>
