<div class="content">
    <div class="obalovac">
        <div class="big">
            <img src="../../assets/images/image1.png" alt="">
        </div>
        <div class="small">
            <div class="row" style="align-items: flex-start;">
                <img src="../../assets/images/image2.png" alt="">
                <img src="../../assets/images/image7.png" alt="">
                <img src="../../assets/images/image4.png" alt="">
            </div>
            <div class="row" style="align-items: flex-end;">
                <img src="../../assets/images/image5.png" alt="">
                <img src="../../assets/images/image4.png" alt="">
                <img src="../../assets/images/image2.png" alt="">
            </div>
        </div>
    </div>
</div>