.content {
	padding-top: 1.5%;
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
}
.container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.big {
	height: 100%;
	width: 39%;
	position: relative;
}
.inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
	}
}
.small {
	padding-top: 39%;
	width: 59%;
	position: relative;	
}
.inner-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.smallimage {
	padding-top: 32%;
	width: 32%;
	position: relative;
	border-radius: 15px;
}
img {
	border-radius: 10px;
}
@media only screen and (max-width: 1250px) {
	.big{
		padding-top: 50%;
		padding-right: 50%;
	}
	.small {
		width: 49%;
		padding-top: 50%;
	}
	.smallimage{
		width: 49%;
	}
}
@media only screen and (max-width: 760px){
	.container {
		flex-direction: column;
		margin-top: 20px;
	}
	.big {
		width: 100%;
		padding-top: 80%;
	}
	.small {
		width: 100%;
		padding-top: 35%;
		overflow-x: scroll;
	}
	.smallimage{
		width: 35%;
		.inner{
			align-items: flex-start;
			img{
				width: auto;
			}
		}
	}
	.inner-content{
		display: flex;
		justify-content: center;
	}
}