<div class="content">
    <div class="container">
        <div class="big">
            <div class="inner">
                <img src="../../assets/images/image1.png" alt="">
            </div>
        </div>
        <div class="small">
            <div class="inner inner-content">
                <div class="smallimage">
                    <div class="inner">
                        <img src="../../assets/images/image2.png" alt="">
                    </div>
                </div>
                <div class="smallimage">
                    <div class="inner">
                        <img src="../../assets/images/image4.png" alt="">
                    </div>
                </div>
                <div class="smallimage">
                    <div class="inner">
                        <img src="../../assets/images/image5.png" alt="">
                    </div>
                </div>
                <div class="smallimage">
                    <div class="inner">
                        <img src="../../assets/images/image7.png" alt="">
                    </div>
                </div>
                <div class="smallimage">
                    <div class="inner">
                        <img src="../../assets/images/image4.png" alt="">
                    </div>
                </div>
                <div class="smallimage">
                    <div class="inner">
                        <img src="../../assets/images/image2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>