
<div class="container">
    <dashboard></dashboard>
    <div class="title">
        <h1>#topoffers</h1>
    </div>
    <topoffers></topoffers>
    <div class="title">
        <h1>#challenges</h1>
    </div>
    <challenges></challenges>
    <div class="title">
        <h1>#keyfeatures</h1>
    </div>
    <keyfeatures></keyfeatures>
    <div class="title">
        <h1>#collaboration</h1>
    </div>
    <collaboration></collaboration>
    <div class="title">
        <h1>#airdrops</h1>
    </div>
    <airdrops></airdrops>
    <follow></follow>
    <footer></footer>
</div>
 